.red{
  background-color: lightcoral;
}
.green{
  background-color: lightgreen;
}
.App {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  #navigation {
    margin-bottom: 2rem;
  }
  
  #navigation button {
    margin-right: 1rem;
  }
  
  #slide {
    border: 1px solid #eee;
    padding: 1rem;
    min-height: 300px;
  }
  
  button {
    min-width: 80px;
  }


  @font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('./SEGA.woff') format('woff');
    }

    h1{
      font-family: 'SEGA LOGO FONT';
      font-size: 200;
      color: #0ccab4;
    }